In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('figures/four_peaks/ga_table.csv')

In [6]:
df

,Population Size,Mutation Rate,Best Fitness Mean,Best Time Mean,Best FEvals Mean,Best Iterations Mean
0,10,0.1,25.33,0.14,5157,467
1,10,0.3,30.00,0.09,3323,300
2,10,0.5,28.67,0.11,3347,302
3,10,0.7,30.00,0.07,1927,173
4,100,0.1,30.00,0.38,7787,76
5,100,0.3,30.00,0.34,3544,34
6,100,0.5,30.00,0.36,4757,46
7,100,0.7,35.67,0.35,3645,35
8,500,0.1,47.00,1.83,20049,39
9,500,0.3,41.33,1.78,14536,28
10,500,0.5,46.33,1.78,11529,22
11,500,0.7,35.67,1.92,15541,30
12,1000,0.1,47.00,3.83,17023,16
13,1000,0.3,47.00,4.89,126132,125
14,1000,0.5,41.33,4.11,23030,22
15,1000,0.7,47.00,4.12,19025,18

In [7]:
df['Best Fitness Mean'] = df['Best Fitness Mean'].apply(lambda x: f"{x/47:.3f}")

In [8]:
df['Best Time Mean'] = df['Best Time Mean'].apply(lambda x: f"{x:.2f}")

In [9]:
for key in ['Population Size', 'Mutation Rate',	'Best Fitness Mean', 'Best Time Mean']:
    df[key] = df[key].apply(lambda x: f"{x} & ")

In [10]:
key = 'Best FEvals Mean'
df[key] = df[key].apply(lambda x: f"{x} \\\\")

In [12]:
df[['Population Size', 'Mutation Rate', 'Best Fitness Mean', 'Best Time Mean', 'Best FEvals Mean']].style.hide(axis='index')