In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
ga_df = pd.read_csv('metrics/ga.csv')

In [3]:
len(ga_df)

28194

In [4]:
ga_df.columns

Index(['Iteration', 'Time', 'Fitness', 'FEvals', 'Population Size',
       'Mutation Rate', 'max_iters', 'problem_size', 'max_attempts',
       'run_number', 'group_timestamp', 'total_runtime', 'num_edges',
       'optimal_fitness'],
      dtype='object')

In [5]:
ga_df['X'] = ga_df.apply(lambda row: f"Pop={int(row['Population Size'])}, Mut={row['Mutation Rate']}", axis=1)

In [21]:
data = {'Population Size': [], 'Mutation Rate': [], 'Best Fitness Mean': [], 'Best Norm Fitness Mean': [], 'Best Time Mean': [], 
        'Best FEvals Mean': [], 'Best Iterations Mean': []}
def sort_fn(x):
    return int(x.split('=')[1].split(',')[0])
for group in sorted(ga_df['X'].unique(), key=sort_fn):
    df = ga_df[ga_df['X'] == group]
    assert(len(df['group_timestamp'].unique()) == 1)
    last_iter = np.inf
    for run_i in df['run_number'].unique():
        run_df = df[df['run_number'] == run_i]
        max_iter = run_df['Iteration'].max()
        last_iter = min(max_iter, last_iter)
    best_fitness = -np.inf
    best_time = None 
    best_feval = None
    best_iters = None
    for iter_i in range(1, last_iter+1):
        iter_df = df[df['Iteration'] == iter_i]
        mean_fit = iter_df['Fitness'].mean()
        if mean_fit > best_fitness:
            best_fitness = mean_fit
            best_time = iter_df['total_runtime'].mean()
            best_feval = iter_df['FEvals'].mean()
            best_iters = iter_i
    data['Population Size'].append(df['Population Size'].iloc[0])
    data['Mutation Rate'].append(f"{df['Mutation Rate'].iloc[0]:.2f}")
    data['Best Fitness Mean'].append(f"{best_fitness:.2f}")
    data['Best Norm Fitness Mean'].append(f"{best_fitness/294:.3f}")
    data['Best Time Mean'].append(f"{best_time:.2f}")
    data['Best FEvals Mean'].append(f"{best_feval:.0f}")
    data['Best Iterations Mean'].append(f"{best_iters:.0f}")
df = pd.DataFrame(data)
df.to_csv('metrics/ga_table.csv', index=False)
df.style.hide(axis='index')

In [7]:
sa_df = pd.read_csv('metrics/sa.csv')

In [8]:
sa_df.columns

Index(['Iteration', 'Time', 'Fitness', 'FEvals', 'Temperature', 'max_iters',
       'decay_type', 'problem_size', 'max_attempts', 'run_number',
       'group_timestamp', 'total_runtime', 'num_edges', 'optimal_fitness'],
      dtype='object')

In [9]:
sa_df['X'] = sa_df.apply(lambda row: f"Temp={row['Temperature']}, DecayType={row['decay_type']}", axis=1)

In [24]:
data = {'Temperature': [], 'Decay Type': [], 
        'Best Norm Fitness Mean': [], 'Best Fitness Mean': [], 'Best Time Mean': [], 
        'Best FEvals Mean': [], 'Best Iterations Mean': []}
for group in sorted(sa_df['X'].unique()):
    df = sa_df[sa_df['X'] == group]
    assert(len(df['group_timestamp'].unique()) == 1)
    last_iter = np.inf
    for run_i in df['run_number'].unique():
        run_df = df[df['run_number'] == run_i]
        max_iter = run_df['Iteration'].max()
        last_iter = min(max_iter, last_iter)
    best_fitness = -np.inf
    best_time = None 
    best_feval = None
    best_iters = None
    for iter_i in range(1, last_iter+1):
        iter_df = df[df['Iteration'] == iter_i]
        mean_fit = iter_df['Fitness'].mean()
        if mean_fit > best_fitness:
            best_fitness = mean_fit
            best_time = iter_df['total_runtime'].mean()
            best_feval = iter_df['FEvals'].mean()
            best_iters = iter_i
    data['Temperature'].append(f"{df['Temperature'].iloc[0]:.2f}")
    data['Decay Type'].append(f"{df['decay_type'].iloc[0]}")
    data['Best Norm Fitness Mean'].append(f"{best_fitness/294:.3f}")
    data['Best Fitness Mean'].append(f"{best_fitness:.2f}")
    data['Best Time Mean'].append(f"{best_time:.2f}")
    data['Best FEvals Mean'].append(f"{best_feval:.0f}")
    data['Best Iterations Mean'].append(f"{best_iters:.0f}")
df = pd.DataFrame(data)
df.to_csv('metrics/sa_table.csv', index=False)
df.style.hide(axis='index')

In [11]:
rhc_df = pd.read_csv('metrics/rhc.csv')

In [12]:
rhc_df['Restarts'] = rhc_df['Restarts'].astype(int)

In [13]:
rhc_df.columns

Index(['Iteration', 'Time', 'Fitness', 'FEvals', 'Restarts', 'max_iters',
       'current_restart', 'problem_size', 'max_attempts', 'run_number',
       'group_timestamp', 'total_runtime', 'num_edges', 'optimal_fitness'],
      dtype='object')

In [14]:
rhc_df['Restarts'] = rhc_df['Restarts'].astype(int)

In [15]:
rhc_df['X'] = rhc_df.apply(lambda row: f"Restarts={row['Restarts']:.0f}", axis=1)

In [16]:
rhc_df['X']

0          Restarts=1
1          Restarts=1
2          Restarts=1
3          Restarts=1
4          Restarts=1
             ...
190809    Restarts=50
190810    Restarts=50
190811    Restarts=50
190812    Restarts=50
190813    Restarts=50
Name: X, Length: 190814, dtype: object

In [25]:
data = {'Restarts': [],
        'Best Norm Fitness Mean': [], 'Best Fitness Mean': [], 'Best Time Mean': [], 
        'Best FEvals Mean': [], 'Best Iterations Mean': []}
def sort_fn(x):
    return int(x.split('=')[1])
for group in sorted(rhc_df['X'].unique(), key=sort_fn):
    df = rhc_df[rhc_df['X'] == group]
    assert(len(df['group_timestamp'].unique()) == 1)
    last_iter = np.inf
    for run_i in df['run_number'].unique():
        run_df = df[df['run_number'] == run_i]
        max_iter = run_df['Iteration'].max()
        last_iter = min(max_iter, last_iter)
    best_fitness = -np.inf
    best_time = None 
    best_feval = None
    best_iters = None
    for iter_i in range(1, last_iter+1):
        iter_df = df[df['Iteration'] == iter_i]
        mean_fit = iter_df['Fitness'].mean()
        if mean_fit > best_fitness:
            best_fitness = mean_fit
            best_time = iter_df['total_runtime'].mean()
            best_feval = iter_df['FEvals'].mean()
            best_iters = iter_i
    data['Restarts'].append(df['Restarts'].iloc[0])
    data['Best Fitness Mean'].append(f"{best_fitness:.2f}")
    data['Best Norm Fitness Mean'].append(f"{best_fitness/294:.3f}")
    data['Best Time Mean'].append(f"{best_time:.2f}")
    data['Best FEvals Mean'].append(f"{best_feval:.0f}")
    data['Best Iterations Mean'].append(f"{best_iters:.0f}")
df = pd.DataFrame(data)
df.to_csv('metrics/rhc_table.csv', index=False)
df.style.hide(axis='index')